<div class="min-vh-100 d-flex flex-column justify-content-center align-items-center login-background text-center px-3">
    <div class="card p-4 shadow-lg animate-fade-in glass-card" style="width: 100%; max-width: 400px;">
        <h2 class="mb-4 text-primary fw-bold">Iniciar Sesión</h2>

        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
            <div class="mb-3 text-start">
                <input type="text" formControlName="userName" class="form-control" placeholder="Nombre de usuario"
                    required />
            </div>

            <div class="mb-3 text-start">
                <input type="password" formControlName="password" class="form-control" placeholder="Contraseña"
                    required />
            </div>

            <button type="submit" class="btn btn-primary w-100 fw-bold animate-grow" [disabled]="loginForm.invalid">
                Entrar
            </button>
        </form>

        <div *ngIf="error" class="alert alert-danger mt-3 animate-fade-in">
            {{ error }}
        </div>

        <!-- NUEVO: Botón de registro -->
        <div class="mt-3 d-flex justify-content-center align-items-center">
            <span class="me-1">¿No tienes cuenta?</span>
            <a routerLink="/register" class="fw-bold text-decoration-none text-primary">Regístrate</a>
        </div>

    </div>
</div>